.profileText{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: calc(var(--spacing-unit) * 1.25);
  border-bottom: 1px solid var(--border-color);
}

.profileText .imgBx
{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.profileText .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileText h2
{
  color: var(--text-color-primary);
  font-size: var(--font-size-lg);
  margin-top: calc(var(--spacing-unit) * 1.875);
  text-transform: uppercase;
  text-align: center;
  font-weight: var(--font-weight-bold);
  line-height: 1.4em;
}
.profileText h2 span
{
  font-size: 0.8em;
  font-weight: var(--font-weight-light);
}

/* Estilos de prueba */
ul {
  list-style: none; /* Removes default bullets */
  padding: 0;
}

a{
  text-decoration: none;
  color: var(--text-color-primary);
}

.button-item {
  display: block; /* Makes it behave like a button */
  padding: calc(var(--spacing-unit) * 0.625) calc(var(--spacing-unit) * 1.25);
  background-color: var(--bg-color-tertiary);
  color: var(--text-color-primary);
  text-align: center; /* Centers the text */
  border-radius: 12px; /* Rounds the corners */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  transition: background 0.3s ease; /* Smooth hover effect */
  width: 100px; /* Set a fixed width (optional) */
  margin-bottom: var(--spacing-unit);
}

.button-item:hover {
  background-color: var(--secondary-color);
  color: var(--text-color-light);
}

/* @media (max-width: 420px) { */
  .buttons{
   margin-top:calc(var(--spacing-unit) * 0.625);
   display: center; /* Makes it behave like a button */
   justify-content:center;
   gap: calc(var(--spacing-unit) * 2.5);
  }

  .button-item-2 {
    /* display: inline-flex; /*Makes it behave like a button */
    margin-inline: calc(var(--spacing-unit) * 2.5);
    justify-content: center;
    padding: calc(var(--spacing-unit) * 0.375) calc(var(--spacing-unit) * 1.25);
    background-color: var(--bg-color-tertiary);
    color: var(--text-color-primary);
    text-align: center; /* Centers the text */
    border-radius: 12px; /* Rounds the corners */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    transition: background 0.3s ease; /* Smooth hover effect */
    width: min-width; /* Set a fixed width (optional) */
    margin-bottom: var(--spacing-unit);
  }

  .button-item-2:hover {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
  }

.server-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
}

.server-status.running {
  background-color: green;
}




