label {
  color: var(--text-color-secondary);
}

.mytxt {
  /* width: 100%;*/
  background-color: var(--bg-color-secondary);
  margin: var(--spacing-unit) 0.25rem;
  padding: 0.25rem;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  outline: none;
  transition: all 0.4s ease-in-out;
  color: var(--text-color-primary);
}

.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.drop-zone.dragging {
  border-color: #007bff;
  background-color: #f0f8ff;
}

.drop-zone p {
  margin: 0;
  color: #666;
}