<div class="ai-floating-container" [class.open]="isOpen">
  <div class="agent-bubble" (click)="isOpen = !isOpen">
    <img src="assets/img/ai-avatar.png" alt="AI Agent">
  </div>

  <div class="chat-window" *ngIf="isOpen">
    <div class="chat-header">{{ 'assistantIA'| transloco  }}</div>
    <div class="chat-body">
      <div *ngFor="let msg of messages" [ngClass]="msg.type">
        {{ msg.text }}
      </div>
      <div *ngIf="isLoading" class="typing">{{ 'writingIA'| transloco  }}...</div>
    </div>
    <div class="chat-footer">
      <input [(ngModel)]="query" (keyup.enter)="ask()" placeholder="Pregúntame algo...">
    </div>
  </div>
</div>
