@media (max-width: 991.98px) {
  app-left-bar {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .col-lg-9 {
    width: 100%;
  }
}

.modal-content{  background-color: var(--bg-color-secondary);}

.floating-dock {
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  transform: translateX(calc(100% - var(--handle-width, 55px)));
}

.lang-pos:hover {
  transform: translateX(calc(100% - var(--content-width, 170px) - var(--handle-width, 45px)));
}

.settings-pos:hover {
  transform: translateX(calc(100% - var(--content-width, 200px) - var(--handle-width, 45px)));
}

.dock-handle {
  width: var(--handle-width, 45px);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  background: #333;
  color: white;
}

.dock-content-wrapper {
  background: rgba(255, 255, 255, 0.95);
  padding: 10px;
  display: flex;
  border-left: 1px solid #ddd;
  backdrop-filter: blur(5px);
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

.lang-pos { top: 30%; }
.settings-pos { top: 50%; }


.btn-lang {
  border: none;
  padding: 5px 12px;
  border-radius: 20px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  transition: opacity 0.2s;
}

.btn-lang:hover { opacity: 0.8; }
.btn-lang.en { background-color: #0d6efd; }
.btn-lang.fr { background-color: #dc3545; }
.btn-lang.es { background-color: #ffc107; }
