<div class="app-container overflow-hidden">
  <app-top />
  <div class="row">
    <div class="col-lg-3 d-none d-lg-block">
      <app-left-bar />
    </div>
    <div class="col-12 col-lg-9">
      <router-outlet></router-outlet>
    </div>

<div class="floating-dock lang-pos">
  <div class="dock-handle bg-dark">
    <span>{{ currentLang | uppercase }}</span>
  </div>
  <div class="dock-content-wrapper">
    <div class="d-flex gap-2">
      <button (click)="mnuLang('en')" class="btn-lang en">EN</button>
      <button (click)="mnuLang('fr')" class="btn-lang fr">FR</button>
      <button (click)="mnuLang('es')" class="btn-lang es">ES</button>
    </div>
  </div>
</div>

<div class="floating-dock settings-pos">
  <div class="dock-handle bg-dark">
    <i class="fa-solid fa-gear"></i>
  </div>
  <div class="dock-content-wrapper">
    <div class="d-flex gap-2">
      <button (click)="toggleTheme()" class="btn btn-sm btn-outline-secondary">
        @if (isDarkMode) {
          <span><i class="fa-solid fa-sun"></i></span>
        } @else {
          <span><i class="fa-solid fa-moon"></i></span>
     }
      </button>
      <button (click)="setTextSize('sm')" class="btn btn-sm btn-outline-secondary">A-</button>
      <button (click)="setTextSize('md')" class="btn btn-sm btn-outline-secondary">A</button>
      <button (click)="setTextSize('lg')" class="btn btn-sm btn-outline-secondary">A+</button>
    </div>
  </div>
</div>

  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            &nbsp;<i class="fa-solid fa-flag-checkered"></i>&nbsp;&nbsp;{{
              "hit" | transloco
            }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul *ngFor="let hit of hits">
            <li>{{ hit }}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">&nbsp;<i class="fa-solid fa-gears"></i>&nbsp;&nbsp;{{detailProject.nom}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><i class="fa-solid fa-circle-info"></i>&nbsp;{{detailProject.description}}</p>
          <p><i class="fa-regular fa-file-code"></i>&nbsp;{{detailProject.lang}}</p>
          <p><i class="fa-solid fa-screwdriver-wrench"></i>&nbsp;{{detailProject.tools}}</p>
          <p>
            <a class="text-decoration-none text-dark"
              target="_blank"
              href="https://{{ detailProject.repos }}"
              ><i class="fa-brands fa-github"></i>&nbsp;{{
                detailProject.repos
              }}</a>
          </p>
          <p>
            <a class="text-decoration-none text-dark"
              target="_blank"
              href="https://{{ detailProject.deploy }}"
              ><i class="fa-regular fa-window-restore"></i>&nbsp;{{
                detailProject.deploy
              }}</a
            >
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
