.left_Side{
  background: rgba(144,12,63,0.8);
  padding: 0.5em;
}
.profileText{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.slide{
  padding-top: 20px;
  padding-bottom: 0px;
}

.profileText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item
{
  top: -10px;
}
.profileText h2
{
  color: #fff;
  font-size: 1.5em;
  margin-top: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profileText h2 span
{
  font-size: 0.8em;
  font-weight: 200px;
}

.contactInfo
{
    padding-top: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo .title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 5px 0;
    cursor: pointer;
}

.contactInfo.language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contactInfo.language .text
{
  color: #fff;
}
.contactInfo.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffc3df;

}


ul {
  list-style: none; /* Removes default bullets */
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
}

.button-item {
  display: block; /* Makes it behave like a button */
  padding: 5px 10px; /* Adds spacing inside the button */
  background-color: lightgray; /* Light grey background */
  color: white; /* White text */
  text-align: center; /* Centers the text */
  border-radius: 12px; /* Rounds the corners */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  transition: background 0.3s ease; /* Smooth hover effect */
  width: 100px; /* Set a fixed width (optional) */
  margin-bottom: 10px; /* Adds spacing between items */
}

.button-item:hover {
  background-color: gray;
}

.email{
position: absolute;
top: 5px;
display: inline-block;
  /* color: white;  */
  text-decoration: none;
  font-size: 0.7em;
  font-weight: bold;
  transition: color 0.3s ease;
}

