/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

:root {
  --primary-color: #003049;
  --secondary-color: #563e7c;
  --accent-color: #ffc3df;

  --text-color-primary: #212529;
  --text-color-secondary: #6c757d;
  --text-color-light: #f8f9fa;

  --bg-color-primary: rgba(255, 255, 255, 0.9);
  --bg-color-secondary: #f8f9fa;
  --bg-color-tertiary: #b0aeb1;

  --border-color: #dee2e6;

  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.75rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --spacing-unit: 8px;

  /* --left-bar-bg: #f8f9fa; */
  --left-bar-bg: #e8e9ea;
  --left-bar-text: #212529;
}

[data-theme='dark'] {
  --primary-color: #d62828;
  --secondary-color: #6366f1;
  --accent-color: #f472b6;

  --text-color-primary: #14213d;
  --text-color-secondary: #cbd5e1;
  --text-color-light: #1e293b;

  --bg-color-primary: #0f172a;
  --bg-color-secondary: #1e293b;
  --bg-color-tertiary: #334155;

  --border-color: #334155;

  --left-bar-bg: #1e293b;
  --left-bar-text: #f8f9fa;
}

body{
	background: var(--bg-color-primary);
	background-blend-mode: multiply;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  color: var(--text-color-primary);
  font-size: var(--font-size-md);
}

.sidebar{
  background-color: var(--bg-color-secondary);
  opacity: 0.8;
  backdrop-filter: blur(10px);
}

.sidebar .offcanvas-body {
  overflow-y: auto;
}
