<h3 class="date-entry">{{ post?.title }}</h3>
<p>
  <small class="date-entry">{{post?.createdAt | date }}</small>&nbsp;&nbsp;<strong class="date-entry">Autor:</strong>&nbsp;
  <small class="date-entry fst-italic fw-lighter">{{post?.author }}</small>
</p>
<img class="image-post"
  *ngIf="post?.imageUrl"
  [src]="post?.imageUrl"
  alt="{{ post?.title }}"
/>
  <div  class="date-entry" *ngIf="post?.isHtml; else textContent" [innerHTML]="content"></div>
  <ng-template #textContent>
    <p class="date-entry">{{ post?.content }}</p>
  </ng-template>
<div>
  <strong  class="date-entry">Categorías:</strong>
  <button class="text-white px-10 py-1 rounded-5 btn btn-secondary cat-btn" *ngFor="let cat of post?.categories" (click)="searchByCategory(cat)">{{cat}}</button>
</div>
<button class="text-white px-10 py-1 rounded-5 btn btn-secondary" (click)="likePost()"><i class="fa-solid fa-thumbs-up"></i> {{ likes }}</button>
<span>&nbsp;&nbsp;</span>
<button class="text-white px-10 py-1 rounded-5 btn btn-secondary"(click)="dislikePost()"><i class="fa-solid fa-thumbs-down"></i> {{ dislikes }}</button>


<!-- <div>
  <h1>Chat con OpenAI</h1>
  <textarea [(ngModel)]="mensaje"></textarea>
  <button (click)="obtenerRespuesta()">Enviar</button>
  <p>Respuesta: {{ response }}</p>
</div>

<button (click)="obtenerRespuesta()" [disabled]="isLoading">
  Analizar datos
</button>

<div *ngIf="isLoading">Cargando...</div>

<div *ngIf="response">
  <h3>Respuesta de DeepSeek:</h3>
  <pre>{{ response | json }}</pre>
</div>

<div *ngIf="error">
  <h3>Error:</h3>
  <p>{{ error }}</p>
</div> -->
