<div class="main-entry">
  <h3 class="blog-title">{{ post?.title }}</h3>
  <p>
    <small class="date-entry">{{ post?.createdAt | date }}</small>
    <strong class="date-entry">&nbsp;&nbsp;Autor:&nbsp;</strong>
    <small class="date-entry fst-italic fw-lighter">{{ post?.author }}</small>
  </p>
  <p>
    @if (lang != currentLang) {
       <p>
        <button class="text-white px-10 py-1 rounded-5 btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
           <h5> <i class="fa-solid fa-language"></i> Summary</h5>
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          @if(summaryTranslated && (translatedLang == currentLang)) {
            <h4 >{{translatedTitle}} </h4>
            <div  class="date-entry"  *ngIf="post?.isHtml; else textContentTranslated"  [innerHTML]="summaryTranslated"></div>
            <ng-template #textContentTranslated>
              <p class="date-entry">{{ summaryTranslated }}</p>
            </ng-template>
          }
        </div>
      </div>
    }
  </p>



  <img class="image-post"  *ngIf="post?.imageUrl"  [src]="post?.imageUrl"  alt="{{ post?.title }}"/>

  <div  class="date-entry"  *ngIf="post?.isHtml; else textContent"  [innerHTML]="summary"></div>
  <ng-template #textContent>
    <p class="date-entry">{{ post?.summary }}</p>
  </ng-template>
  <div>
    <div *ngFor="let block of post?.content">
      <ng-container [ngSwitch]="block.type">
          <h2 class="blog-title" *ngSwitchCase="'title'">{{ block.data }}</h2>
          <p class="blog-paragraph" *ngSwitchCase="'paragraph'">{{ block.data }}</p>
          <blockquote class="blog-quote" *ngSwitchCase="'quote'">"{{ block.data }}"</blockquote>
          <div class="text-center" *ngSwitchCase="'image'">
            <img class="blog-image" [src]="block.data.url" [alt]="block.data.caption" />
            <small class="blog-image-caption">{{ block.data.caption }}</small>
          </div>
          <pre class="blog-code" *ngSwitchCase="'code'">
            <code [attr.data-lang]="block.data.language">{{ block.data.content }}</code>
          </pre>
      </ng-container>
    </div>

    <strong class="date-entry">Categorías:</strong>
    <button class="text-white px-10 py-1 rounded-5 btn btn-secondary cat-btn"
      *ngFor="let cat of post?.categories"
      (click)="searchByCategory(cat)">
        {{ cat }}
    </button>
  </div>
  <button class="text-white px-10 py-1 rounded-5 btn btn-secondary"  (click)="likePost()" >
    <i class="fa-solid fa-thumbs-up"></i> {{ likes }}
  </button>
  <span>&nbsp;&nbsp;</span>
  <button class="text-white px-10 py-1 rounded-5 btn btn-secondary"  (click)="dislikePost()">
    <i class="fa-solid fa-thumbs-down"></i> {{ dislikes }}
  </button>
</div>





