<div class="main">
  <div class="about">
    <p class="text-justify">{{'entry'  | transloco }}</p>


    <!-- <h2 class="title2">
      <ng-container *transloco="let t">{{ t('profile') }}</ng-container>
    </h2>-->
    <h3 class="title3">{{'profile'  | transloco }} &nbsp;
      <span>
            <button class="profile-button" title="Developper" (click)="updateProfil('dev')"><i class="fa-solid fa-code"></i></button>&nbsp;
            <button class="profile-button" title="Database" (click)="updateProfil('db')"><i class="fa-solid fa-database"></i></button>&nbsp;
            <button class="profile-button" title="Support" (click)="updateProfil('tech')"><i class="fa-solid fa-screwdriver-wrench"></i></button>
      </span>
    </h3>
<h2 class="title2">{{positionTitles[profSelected]}} &nbsp;</h2>

    <span *ngFor="let prof of profile">
      <span *ngIf="profSelected == prof.position || profSelected == 'general'" class="text-justify">
        <p class="text-justify">{{ prof.sentence }}</p>
      </span>

    </span>
  </div>

  <!-- Skills Section -->
  <div class="about">
    <h2 class="title2">{{'skills'| transloco }}&nbsp;
      <span *ngFor="let project of projects">
        &nbsp;
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" (click)="detailProject(project.id)" data-bs-target="#projectModal">
          {{ project.nom }}
        </button>
      </span>
    </h2>
    <ul class="list-inline">
      <li *ngFor="let skill of skills" class="text-justify">{{ skill.p }}</li>
    </ul>
  </div>

  <!-- Experience Section -->
  <h2 class="title2">{{ 'experience'| transloco  }} </h2>
  <div *ngFor="let experience of experiencesFull" class="box">
    <div class="row">
      <div class="h3 col">{{ experience.job }}</div>
      <div class="h4 col text-end">
        {{ experience.year }}
        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" (click)="detailSkills(experience.hit)" data-bs-target="#exampleModal">
          <i class="fa-solid fa-flag-checkered"></i>
        </button>
      </div>
    </div>
    <div class="h5">{{ experience.cia }}</div>
    <div class="row">
      <div class="col h5">{{ experience.city }}</div>
      <div class="list-inline">
        <app-experience [detailsExperience]="experiencePath + experience.id" [position]="profSelected"></app-experience>
      </div>
    </div>
  </div>

  <!-- Volunteering Section -->
  <h2 class="title2">{{ 'volunteering'| transloco }}</h2>
  <div class="box">
    <div *ngFor="let v of volunt" class="list-inline">
      <h4 class="text-justify">{{ v.job }}</h4>
      <h5 class="text-justify">{{ v.cia }}</h5>
      <h5 class="text-justify">{{ v.year }}</h5>
      <h5 class="text-justify">{{ v.city }}</h5>
    </div>
    <ul class="list-inline">
      <li *ngFor="let v of voluntDetail" class="text-justify">{{ v.d }}</li>
    </ul>
  </div>

  <!-- Professional Skills Section
  <div class="about skills">
  </div> -->

  <!-- Interests Section -->
  <div class="about interest">
    <h2 class="title2">Interests</h2>
    <ul class="list-inline">
      <li><i class="fa fa-book" aria-hidden="true"></i> Reading</li>
      <li><i class="fa fa-cutlery" aria-hidden="true"></i> Cooking</li>
      <li><i class="fa fa-language" aria-hidden="true"></i> Language</li>
    </ul>
  </div>
  <div class="text-center">
      <button title="Generate PDF" class="pdf-button h1"  (click)="generatePDF()"> <i class="fa-solid fa-file-pdf"></i></button>
  </div>

</div>
