<div class="left_Side">
  <br>
  <div class="profileText">
      <div class="imgBx">
          <img src="assets/img/pic.jpg" class="rounded">
      </div>
      <h2>German Herrera<br><span>Web Developer</span></h2>
  </div>
  <div class="contactInfo text-white">
      <h3 class="title">Contact Info</h3>
      <ul class="list-inline justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
        <li class="nav-item mx-2">
          &nbsp;<span class="icon"><i class="fa-solid fa-phone"></i></span>&nbsp;<span class="text">+1 438 408 1220</span>
        </li>
        <li class="nav-item mx-2">
          &nbsp;<span class="icon"><i class="fa-solid fa-envelope"></i></span>&nbsp;<span class="text">germanherrera75&#64;hotmail.com</span>
        </li>
        <li class="nav-item mx-2">
          &nbsp;<span class="icon"><i class="fa-solid fa-globe"></i></span>&nbsp;<span class="text">germanherrera.co</span>
        </li>
        <li class="nav-item mx-2">
          &nbsp;<span class="icon"><i class="fa-brands fa-linkedin"></i></span>&nbsp;<span class="text"><a class="text-decoration-none text-light " target="_blank" href="https://www.linkedin.com/in/german-herrera/">/in/german-herrera/</a></span>
        </li>
        <li class="nav-item mx-2">
          &nbsp;<span class="icon"><i class="fa-solid fa-location-dot"></i></span>&nbsp;<span class="text">Montreal, Canada</span>
        </li>
        <li class="nav-item mx-2">
          <a  class="text-decoration-none text-light " target="_blank" href="assets\pdf\CV_Herrera_{{lngActivate}}.pdf">
            <span class="icon"><i class="fa-solid fa-print"></i></span>&nbsp;
            <span class="text">CV_Herrera_{{lngActivate}}</span>
          </a>
        </li>
      </ul>
  </div>
  <div class="contactInfo text-white">
      <h3 class="title"><ng-container *transloco="let t"> {{ t('study') }} </ng-container></h3>
        <ul  class="list-inline" *ngFor="let study of studies">
          <li><h4>&nbsp;{{study.level}}&nbsp;- &nbsp;<span>{{study.name}}</span></h4></li>
          <li><h5>{{study.place}}&nbsp;<span>({{study.year}})</span></h5></li>
        </ul>
  </div>
  <div class="contactInfo language">
      <h3 class="title">Languages</h3>
      <ul  class="list-inline">
          <li>
              <span class="text">French</span>
              <span class="percent">
                  <div style="width: 85%;"></div>
              </span>
          </li>
          <li>
              <span class="text">English</span>
              <span class="percent">
                  <div style="width: 70%;"></div>
              </span>
          </li>
          <li>
              <span class="text">Spanish</span>
              <span class="percent">
                  <div style="width: 100%;"></div>
              </span>
          </li>
      </ul>
  </div>

</div>

